1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list.

In [2]:
def sum_of_evens(numbers):
    return sum(num for num in numbers if num % 2 == 0)
print(sum_of_evens([1, 2, 3, 4, 5, 6]))

12

2. Create a Python function that accepts a string and returns the reverse of that string.

In [17]:
def reverse_string(s):
    return s[::-1]
print(reverse_string("Shivam"))

mavihS

3. Implement a Python function that takes a list of integers and returns a new list containing the squares of each number.

In [6]:
def square_numbers(numbers):
    return [num ** 2 for num in numbers]
print(square_numbers([1, 2, 3, 4]))

[1, 4, 9, 16]

4. Write a Python function that checks if a given number is prime or not from 1 to 200.

In [7]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True
primes = [num for num in range(1, 201) if is_prime(num)]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms.

In [8]:
class Fibonacci:
    def __init__(self, n):
        self.n = n
        self.a, self.b = 0, 1
        self.count = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.count >= self.n:
            raise StopIteration
        self.count += 1
        fib = self.a
        self.a, self.b = self.b, self.a + self.b
        return fib
fib = Fibonacci(10)
print(list(fib))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

6. Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [9]:
def powers_of_2(exponent):
    for i in range(exponent + 1):
        yield 2 ** i
for power in powers_of_2(5):
    print(power)

1
2
4
8
16
32

7. Implement a generator function that reads a file line by line and yields each line as a string.

In [12]:
def read_lines(file_path):
    with open(file_path, 'r') as file:
        for line in file:
            yield line.strip()

8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [13]:
tuples_list = [(1, 3), (2, 1), (4, 2)]
sorted_list = sorted(tuples_list, key=lambda x: x[1])
print(sorted_list)

[(2, 1), (4, 2), (1, 3)]

9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

In [14]:
celsius = [0, 20, 37, 100]
fahrenheit = list(map(lambda x: (x * 9/5) + 32, celsius))
print(fahrenheit)

[32.0, 68.0, 98.6, 212.0]

10. Create a Python program that uses `filter()` to remove all the vowels from a given string.

In [16]:
def remove_vowels(s):
    vowels = "aeiouAEIOU"
    return ''.join(filter(lambda x: x not in vowels, s))
print(remove_vowels("Shivam Tiwari"))

Shvm Twr

11.Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:

"Table Data from Question"

Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the product of the price per item and the quantity. The product should be increased by 10,- € if the value of the order is smaller than 100,00 €.

Write a Python program using lambda and map.

In [18]:
orders = [(34587, "Learning Python, Mark Lutz", 4, 40.95),
    (98762, "Programming Python, Mark Lutz", 5, 56.00),
    (77226, "Head First Python, Paul Barry", 3, 32.95),
    (88112, "Einführung in Python3, Bernd Klein", 3, 24.99)]
result = list(map(lambda x: (x[0], x[2] * x[3] + (10 if x[2] * x[3] < 100 else 0)), orders))
print(result)

[(34587, 163.8), (98762, 280.0), (77226, 108.85000000000001), (88112, 84.97)]